* {
    margin: 0;
    padding: 0;
}

.tt {
    color: #666;
}

.cc {
    color: #4F79C3;
}

a.tt:hover {
    color: red;
}

.bb {
    color: #444444;
}

li a.bb:hover {
    color: #F86B4F;
    border-bottom: 2px solid #F86B4F;
}

.line_nav:hover {
    border: 1px color #F86B4F;
}

.line_nav:hover {
    width: 238px;
    height: 248px;
    border: 1px solid #F86B4F;
}

.top {
    width: 100%;
    height: 30px;
    background-color: #F4F4F4;
    float: left;
    clear: both;
}

.top_nav {
    width: 1210px;
    height: 30px;
    margin: 0 auto;
}

.bg_fff {
    width: 100%;
    height: 120px;
    clear: both;
}

.tab_logo {
    width: 1410px;
    height: 120px;
    margin: 0 auto;
}

.logo {
    width: 512px;
    height: 79px;
    float: left;
    margin-top: 20px;
}

.sidebar {
    height: 100%;
    width: 42px;
    position: relative;
    float: right;
    background-color: #333;
}

.sidebar_user {
    width: 42px;
    height: 47px;
}

.sidebar_search {
    width: 42px;
    height: 47px;
}

.search_first {
    width: 84px;
    height: 36px;
    border-left: 1.5px solid #CB1425;
    border-bottom: 2.5px solid #CB1425;
    border-top: 1.5px solid #CB1425;
    border-right: 0.5px solid #E2E2E2;
    float: left;
    margin-top: 40px;
    background-color: #F6F6F6;
}

.search_last {
    width: 96px;
    height: 40px;
    margin-top: 40px;
    background-color: #CB1425;
    float: left;
    margin-left: 858px;
    position: absolute;
}

.dargon {
    width: 376px;
    height: 98px;
    float: right;
    background: url(picture/1.jpg);
    background-repeat: no-repeat;
}

.menu {
    width: 1210px;
    height: 42px;
    margin: 0 auto;
}

.classification {
    width: 210px;
    height: 42px;
    position: relative;
    float: left;
}

.classification_nav {
    width: 210px;
    height: 42px;
    background-color: #F4F4F4;
}

.banner {
    width: 100%;
    height: 488px;
    margin: 0 auto;
    float: left;
}

.banner_index {
    position: relative;
}

.banner_slide_1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 1;
    background: url(picture/2.jpg) no-repeat;
    background-position: center 0;
}

.banner_slide_2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 1;
    background: url(picture/3.jpg) no-repeat;
    background-position: center 0;
}

.banner_slide_3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 1;
    background: url(picture/4.jpg) no-repeat;
    background-position: center 0;
}

.qiao {
    width: 1210px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

.max {
    width: 1210px;
    height: 450px;
    margin: 0 auto;
    z-index: 999;
}

.left {
    width: 212px;
    height: 54px;
    z-index: 999;
    opacity: 0.8;
    background-color: #FFF;
}

.right {
    width: 500px;
    height: 324px;
    margin-left: 212px;
    display: none;
    position: absolute;
    top: 192px;
    z-index: 999;
    opacity: 0.8;
    background-color: #FFF;
}

.main {
    width: 637px;
    height: 0px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.sat {
    width: 260px;
    height: 250px;
    opacity: 0.8;
    background-color: #FFF;
    position: absolute;
    z-index: 999;
    float: right;
    margin-left: 950px;
    margin-top: 50px;
}

.roll {
    width: 250px;
    height: 82px;
    z-index: 9999;
    background-color: #FFF;
    opacity: 0.9;
    float: left;
    position: absolute;
}

.max_nav {
    width: 720px;
    height: 75px;
    position: absolute;
    float: left;
    margin-top: 370px;
    margin-left: 225px;
    z-index: 999;
}

.tab_nav {
    width: 1300px;
    height: 550px;
    margin: 0 auto;
}

.tab_left {
    width: 1050px;
    height: 548px;
    float: left;
}

.tab_right {
    width: 220px;
    height: 548px;
    float: right;
}

.tab_left_top {
    width: 1050px;
    height: 40px;
    border-bottom: 2px solid #DCDCDC;
}

.tab_left_pic {
    width: 226px;
    height: 490px;
    float: left;
    position: absolute;
    margin-top: 5px;
}

.line_all {
    width: 800px;
    height: 510px;
    margin-left: 250px;
    float: left;
}

.line_nav {
    width: 240px;
    height: 250px;
    float: left;
}

.new {
    width: 220px;
    height: 34px;
    background-color: #FDA52A;
    opacity: 0.8;
}

.tab_last {
    width: 1300px;
    height: 300px;
    margin: 0 auto;
}

.tab_last_left {
    width: 1050px;
    height: 300px;
    float: left;
}

.tab_last_left_top {
    width: 1050px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 2px solid #DCDCDC;
}

.tra_01 {
    width: 226px;
    height: 245px;
    float: left;
    position: absolute;
    background-image: url(picture/17.jpg);
    background-repeat: no-repeat;
    float: left;
}

.tra_02 {
    width: 226px;
    height: 245px;
    position: absolute;
    background-image: url(picture/18.jpg);
    background-repeat: no-repeat;
    float: left;
}

.tra_03 {
    width: 226px;
    height: 245px;
    position: absolute;
    background-image: url(picture/19.jpg);
    background-repeat: no-repeat;
    float: left;
}

.tra_04 {
    width: 226px;
    height: 245px;
    position: absolute;
    background-image: url(picture/20.jpg);
    background-repeat: no-repeat;
    float: left;
}

.tra_last_right {
    width: 225px;
    height: 305px;
    float: right;
    margin-top: 22px;
}

.title {
    width: 225px;
    height: 50px;
    margin-top: 195px;
    background-color: #000;
    opacity: 0.8;
}

.fy_foot {
    width: 100%;
    height: 204px;
    background-color: #F7F7F7;
    float: left;
    clear: both;
}

.f_center {
    width: 1300px;
    height: 204px;
    margin: 0 auto;
}

.fy_bottom {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    float: left;
}

.fy_bottom_nav {
    width: 530px;
    height: 30px;
    margin: 0 auto;
}

.copyright {
    width: 100%;
    height: 300px;
    text-align: center;
    float: left;
}

/*TusuZer*/
.red-bottom {
    color: #F86B4F;
    border-bottom: 2px solid #F86B4F;
}

a {
    text-decoration: none;
    color: #333;

}

.top_nav span {
    font-size: 12px;
}

.top_nav span > a:hover {
    color: #F86B4F;
}

.emphasis {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
    text-decoration: none;
    display: block;
    float: left;
}