/*LeTian*/
html {
    margin: auto;
    background: #f4f4f4;
}

body {
    margin: 0;
    padding: 0
}

* {
    margin: 0;
    padding: 0
}

.tab_top_1 {
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: center;
}

.tab_top_nav {
    width: 1210px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.tab_top_left {
    height: 100%;
}

.tab_top_left li {
    float: left;
}

.tab_top_left ul {
    list-style-type: none;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
}

.weizhi {
    color: #e62637;
    text-align: center;
    position: relative;
    font-size: 15px;
}

.tab_top_left p {
    text-align: center;
    font-size: 12px;
}

.tab_top_left a {
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}

.tab_top_left a:hover {
    color: #e62637;
}

.tab_top_right li {
    float: left;
}

.tab_top_right ul {
    list-style-type: none;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
}

.weibo, .weixin {
    color: #666666;
    text-align: center;
    position: relative;
    font-size: 20px;
}

.tab_top_right p {
    text-align: center;
    font-size: 12px;
}

.bg_fff {
    width: auto;
    height: 120px;
    display: flex;
    justify-content: center;
    background: white;
}

.tab_logo_tel {
    width: 1210px;
    height: 100%;
}

.logo img {
    height: 40px;
    position: relative;
    top: 40px;
    float: left;
}

.searchTool {
    height: 40px;
    width: 450px;
    border: 1.5px solid #e62637;
    float: left;
    position: relative;
    top: 40px;
}

.selSearch {
    height: 100%;
    width: 90px;
    background: #f4f4f4;
    float: left;
}

.selSearch p {
    color: #666666;
    position: relative;
    top: 12px;
    font-size: 12px;
    float: left;
    margin-left: 15px;
}

.selSearch i {
    float: left;
    position: relative;
    top: 12px;
}

.mainSearch {
    width: 250px;
    height: 40px;
    float: left;
}

.search_r_btn {
    float: left;
    height: 100%;
    width: 110px;
    background: #e62637;
}

.search_r_btn p {
    margin-left: 36px;
    margin-top: 10px;
    color: white;
}

.search_left {
    position: relative;
    top: 50px;
    float: left;
}

.bg_fff a {
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}

.search_bottom {
    position: relative;
    top: 5px;
}

.search_bottom a:hover {
    color: #e62637;
}

.search_bottom ul {
    list-style-type: none;
}

.search_bottom li {
    float: left;
}

.search_bottom p {
    font-size: 12px;
    color: #666666;
}

.icon_purpose {
    float: right;
    position: relative;
    top: 25px;
}

.icon_purpose img {
    height: 80px;
    float: right;
}

.menu {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
}

.menu_main {
    width: 1210px;
    height: 100%;
}

.fl {
    background: #f4f4f4;
    height: 30px;
    width: 190px;
    color: #e62637;
    font-weight: 500;
    font-size: 17px;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu li {
    height: 100%;
    width: 100px;
    text-align: center;
    padding-top: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #e62637;
}

.clear {
    width: 100%;
    height: 2.5px;
    background: #e62637;
}

.yj_location {
    display: flex;
    justify-content: center;
    top: 10px;
    font-size: 12px;
    margin: 10px 0;
}

.yj_location p, a {
    color: #666666;
    text-decoration: none;
    float: left;
}

.yj_location a:hover {
    color: #e62637;
}

.youji_detail {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.detail_left {
    height: auto;
    width: 73%;
    background: white;
    float: left;
}

.detail_right {
    height: auto;
    width: 25%;
    background: white;
    float: left;
    margin-left: 2%;
}

.author_zl {
    border-bottom: 1px solid #dcdcdc;
    width: 800px;
    margin-left: 41px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.top_t img {
    border-radius: 42.5px;
    height: 85px;
    float: left;
}

.author_zl ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 8px;
}

.author_zl li {
    float: left;
    font-size: 12px;
    color: #666666;
}

.author_zl h2 {
    margin-top: 16px;
    color: #666666;
}

.detail_fb a {
    height: 38px;
    width: 102px;
    float: right;
    background: #f86b4f;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -36px;
}

.detail_fb a:hover {
    background: #f65d3f;
}

.share {
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid #dcdcdc;
    text-align: right;
    color: #666666;
    font-size: 12px;
}

.article {
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.next_pre {
    background: #f8f8f8;
    height: 80.2px;
}

.next_pre_1 {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 15px;
}

.next_next p, a {
    float: left;
}

.next_next {
    margin-bottom: 10px;
}

.next_next a:hover {
    color: #e62637;
}

.about_rai {
    padding-top: 20px;
    background: #f4f4f4;
    color: #666666;
}

.about_rai a {
    height: 40px;
    width: 50%;
    background: #38b8b9;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.about_rai h3 {
    padding-bottom: 15px;
}

.about_rai a:hover {
    color: #e62637;
}

.detail_right {
    height: auto;
}

.publish {
    background: white;
    height: 192px;
}

.publish img {
    margin: 15px;
}

.divide {
    height: 10px;
    background: #f4f4f4;
}

.area_ly {
    margin: 15px;
    background: white;
    height: 120px;
}

.area_ly h3 {
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}

.area_ly a:hover {
    color: #e62637;
}

.fy_foot_cont {
    margin-top: 40px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.fy_foot_cont_s {
    height: 204px;
    width: 1210px;
    margin: 0 auto;
}

.fy_foot_cont ul {
    float: left;
    margin-right: 30px;
    list-style-type: none;
    line-height: 25px;
    color: #666666;
    font-size: 14px;
    width: 176px;
}

.fy_foot_cont ul:last-child {
    margin-right: 0
}

.fy_foot_cont a:hover {
    color: #e62637;
}

.footer {
    height: 224px;
    background: white;
    text-align: center;
    padding: 20px;
    line-height: 25px;
    color: #666666;
    font-size: 12px;
}

.footer ul {
    list-style-type: none;
    overflow: hidden;
}

.footer li {
    float: left;
}

.footer a:hover {
    color: #e62637;
}

.footer p {
    font-size: 12px;
}

.fir {
    display: flex;
    justify-content: center;
}

.sec li {
    margin: 10px;
}
/*TusuZer*/

body {
    color: #666;
}
.fs-12 {
    font-size: 12px;
}
ul {
}
li {
    list-style: none;
    overflow: hidden;
}

.visa-wrap {
    width: 1210px;
    margin: 0 auto;
}

.visa-dd-power {
    border: 1px solid #ddd;
}

.w-300 {
    width: 300px;
}

.inline {
    display: inline;
}

.f-l {
    float: left;
}

.power-title-text {
    padding-top: 25px;
    padding-bottom: 12px;
}

.power-ul li {
    margin: 0 10px;
    color: #666;
    line-height: 42px;
    font-size: 12px;
    border-bottom: 1px dashed #cecece;
}

.right-box {
    width: 830px;
    padding: 10px 20px;
    /*padding-bottom: 0;*/
    margin-left: 20px;
    border: 1px solid #ddd;
}
.right-box li {
    padding: 20px 0;
    border-top: 1px dashed #dcdcdc;
}
.right-box img {
    width: 140px;
    height: 85px;
    float: left;
    border: 1px solid #e5e5e5;
}
.visa-item-cnt {
    width: 460px;
    float: left;
    margin-left: 20px;
}
.visa-item-cnt span {
    float: left;
    font-size: 12px;
    display: block;
    width: 210px;
    line-height: 19px;
}
.f-r {
    float: right;
}
.visa-button {
    color: #fff;
    padding: 7px 20px;
    background-color: #f86b4f;
    display: block;
    border-radius: 3px;
}
.search-btn-box {
    margin-top: 10px;
    padding-left: 85px;
}
.search-btn {
    font-size: 14px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    background: #f86b4f;
}
.cities-box {
    margin: 20px 10px;
    border-top: 1px dashed #dcdcdc;
}

.cities-box a {
    height: 23px;
    line-height: 23px;
    padding-right: 15px;
    font-size: 12px;
}
a:hover {
    color: #f86b4f;
}
/*右侧栏*/
.right_sidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 42px;
    height: 100%;
    background: #333;
    z-index: 10001;
}
.right-icon:hover {
    color: #fff !important;
}
.my_top {
    border-top: 1px solid #454545;
    position: absolute;
    bottom: 39px;
}
.active {
    background-color: #f16a54;
}
.active a {
    color: #fff;
}
/*右侧栏end*/