.head_1 {
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-bottom: 2px solid #cb1425;
}

.head_1_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head_1 ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.head_1 li {
    float: left;
    height: 40px;
    /*line-height: 40px;*/
    width: 9%;
}

.head_1 li a {
    display: block;
    color: black;
    text-align: center;
    
    text-decoration: none;
    font-size: 150%;
}

.head_1 li a:hover {
    color: #cb1425;
}

.fl {
    height: 100%;
    width: 15%;
    background: #f0f3f5;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl i, .fl p {
    color: #cb1425;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_main {
    /*background: #f0f3f5;*/
    height: auto;
    width: 100%;
}

.fir {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    color: #666666;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.fir a {
    color: #666666;
}

.fir a:hover {
    color: #cb1425
}

.sec {
    border: 3px solid #d9d9d9;
    height: 1000px;
    padding: 5px;
}

.sec_head {
    /*改*/
    /*height: 10%;*/
}

.zzt {
    height: 20px;
    width: 80px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f04e5d;
    float: left;
    margin-right: 5px;
    margin-left: 20px;
    color: white;
}

.qtm {
    height: 20px;
    width: 56px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a2478;
    float: left;
    margin-left: 5px;
    color: white;
}

.fw {
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.download {
    float: right;
    height: 34px;
    width: 120px;
    border: 2px solid #ffb6a7;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download a, .download i {
    color: #f86b4f;
    font-size: 20px;
}

.sec_left {
    height: 90%;
    width: 50%;
    float: left;
}

.sec_right {
    height: 90%;
    width: 50%;
    float: left;
}


.pic_wall {
    height: 495px;
    width: 600px;
}

.buy {
    height: 180px;
    width: 500px;
    border: 1px solid #f86b4f;
    background: #fff9f7;
    margin-top: 20px;
    margin-left: 12px;
    padding: 30px;
}

.price {
    /*height: 300px;*/
    width: 100%;
}

.detail {
    height: 300px;
    width: 532px;
    background: #F6F6F6;
    margin-left: 12px;
    margin-top: 20px;
    padding: 15px;
}

.on {
    display: block !important;
}
.price_fir {
    /*background: #f6eeec;*/
    height: 66px;
    color: #f86b4f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

.price_fir p {
    float: left;
}

.price_sec {
    height: 40%;
    /*width: 50%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #f0f3f5;*/
}

.price_sec_left {
    float: left;
    text-align: center;
    width: 49%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.price_sec_right {
    float: left;
    text-align: center;
    width: 49%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.tianchong {
    height: 20px;
    width: 100%;
    border-right: 1px solid #f0f3f5;
}

.price_thi_left {
    float: left;
    width: 50%;
}

.price_thi_right {
    float: left;
    width: 50%;
}

.price_thi p {
    font-size: 16px;
}

.price_thi {
    margin-left: 20px;
    margin-top: 10px;
}

.detail i {
    color: #ff742f;
    font-size: 25px;
}

.detil_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.detail_main_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.detail p {
    font-size: 15px;
}

.pic_fir {
    height: 386px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic_sec {
    height: 99px;
    width: 587px;
    margin: 1%;
}

.pic {
    height: 90%;
    width: 23%;
    float: left;
    margin: 1%;
}

.pic img {
    height: 100%;
    width: 100%;
}

.pic_fir {
    background-image: url(img/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.buy_sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.buy_sec input {
    width: 40px;
}

.buy_sec p {
    font-size: 15px;
}

.buy_for {
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buy_for input {
    outline: none;
    border-radius: 5px 5px 5px 5px;
}

.button_1 {
    background: #f86b4f;
    color: white;
    height: 40px;
    width: 150px;
    border: 2px solid #f86b4f;
    margin-right: 20px;
}

.button_2 {
    background: white;
    color: #f86b4f;
    height: 40px;
    width: 150px;
    border: 2px solid #f86b4f;
    margin-right: 20px;
}

.buy img {
    width: 90%;
    height: 90%;
}

.pic_fir img {
    width: 100%;
    height: 100%;
}


/*右侧导航栏*/
.right_sidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 42px;
    height: 100%;
    background: #333;
    z-index: 10001;
}
.right-icon:hover {
    color: #fff !important;
}
.my_top {
    border-top: 1px solid #454545;
    position: absolute;
    bottom: 39px;
}
.active {
    background-color: #f16a54;
}
.active a {
    color: #fff;
}
.day_miaoshu img {
    width: 30%;
    height: 150px;
}
.day_miaoshu img:not(:first-child) {
    margin-left: 5%;
}
.hand:hover {
    cursor: pointer;
    color: orangered;
}