html {
    font-size: 62.5%;
    margin: auto;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none
}

.head {
    height: 149.6px;
    width: 100%;
}

.ma {
    margin: 0 auto;
    width: 1250px;
}

.denglu {
    height: 20%;
    background: #f4f4f4;
}

.weizhi {
    color: #e62637;
    text-align: center;
    position: relative;
    top: 0.5rem;
    font-size: 2rem;
}

.weibo, .weixin {
    color: #666666;
    text-align: center;
    position: relative;
    top: 0.5rem;
    font-size: 2rem;
}

.sousuo {
    height: 80%;
}

.denglu ul {
    list-style-type: none;
}

.denglu li {
    float: left;
}

.denglu p {
    text-align: center;
    position: relative;
    top: 0.5rem;
    font-size: 1.3rem;
}

.denglu a {
    color: #666666;
    text-align: center;
    position: relative;
    top: 0.5rem;
    font-size: 1.3rem;
}

.dl_l {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dl_r {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sousuo img {
    width: 100%;
    height: 100%;
}

.logo {
    margin-top: 25px;
    width: 450px;
    float: left;
    margin-right: 5%;
}

.lianxi {
    width: 30%;
    float: left;
}

.searchline {
    width: 40%;
    float: left;
    margin-right: 5%;
}

.searchline {
    position: relative;
    top: 2rem;
}

.search_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search_bottom {
    margin-top: 1rem;
}

.search_left {
    border: 2px solid #cb1425;
    height: 3.6rem;
    width: 80%;
}

.search_right {
}

.search_bottom li {
    float: left;
}

.search_bottom a {
    color: #666666;
    font-size: 1.3rem;
}

.s_l {
    height: 3.6rem;
    width: 25%;
    background: #f4f4f4;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #666666;
}

.s_m {
    height: 3.6rem;
    width: 50%;
    float: left;
}

.s_r {
    height: 3.6rem;
    width: 25%;
    background: #cb1425;
    float: left;
}

.head a:hover {
    color: #FF00FF
}

.test1 {
    height: 3rem;
    width: 30rem;
    background: white;
    position: absolute;
    top: 2.8rem;
    left: 10%;
    border: 0.15rem solid #cb1425;
    display: none;
}

.test2 {
    height: 15rem;
    width: 20%;
    position: absolute;
    left: 0;
    top: 3.6rem;
    display: none;
}

.aa {
    height: 20%;
    width: 100%;
    background: white;
    border: 0.1px solid #c9d1dc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
