body{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #666666;
	font-family: "microsoft yahei";
	font-size: 12px;
}
.top{
	width: 1286px;
	height: 90px;
	margin: 0 auto;
}
.topc{
	margin:0 143px;
	width: 1000px;
	height: 90px;
}
.topc_left{
	float: left;
}
.topc_right{
	width: 460px;
	height: 90px;
	float: right;
	font-size: 12px;
	margin: 30px auto;
}
.topc_right a{
	text-decoration: none;
	color: #666666;
}
.main{
	width: auto;
	height: 600px;
	border-top: 1px solid #E8E7E3;
	/*border-bottom: 1px solid #E8E7E3;*/
}
.reg_mian{
	margin: 10px auto;
	width: 1000px;
	height: 580px;
}
.fy_group_b{
	margin: 0 225px;
	padding: 80px 0 0 0;
	width: 550px;
	height: 460px;
}

.group_list_all{
	width: 435px;
	height: 322px;
	padding: 15px 0 15px 140px;
	float: left;
}

.input{
	margin: 0;
	width: 435px;
	height: 48px;
	font-size: 12px;
	float: left;
}
.input1{
	width: 256px;
	height: 36px;
	padding: 0 5px;
	margin: 0 0 10px 0;
}
.input2{
	width: 136px;
	height: 36px;
	margin: 0 0 10px 0;
	padding: 0 5px;
	float: left;
}
#yanzhengma img{
	float: left;
	width: 114px;
	height: 38px;
	margin-left: 6px;
}
.input3{
	width: 260px;
	height: 44px;
	padding: 0 5px;
	background-color: #f86b4f;
	color: #fff;
	font-size: 18px;
	border: none;
	cursor: pointer
}
.login_footer{
	width: 960px;
	height: 60px;
	padding: 80px 0 0 0;
	margin: 0 163px;
}
.login_footer a{
	text-decoration: none;
	color: #666666;
}
p{
	margin: 0;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
}

