.m-0{
	margin:0;
}
.p-0{
	padding:0;
}
.h-90{
	height:90px;
}
.head{
	width:100%;
}
.w-1000{
	width: 1000px;
}
.m-c{
	margin:0 auto;
}
.w-460{
	width:460px;
}
.f-l{
	float:left;
}
.pt-15{
	padding-top:15px;
}
.b-1{
	border: 1px solid #dcdcdc; 
}
.f-r{
	float:right;
}
.fs-12{
	font-size:12px;
}
.p-5{
	padding: 0 5px;
}
.mt-60{
	margin-top:60px;
}
.br-1{
	border-right:1px solid gray;
}
.w-1100{
	width:1100px;
}
.menu-first li{
	float:left;
    text-align: center;
}
.step-name{
	width:75px;
	height:20px;
	padding:10px 100px;
	background-color:gray;
	color:white;
	font-weight:bold;
}
.step{
	width:30px;
	height:30px;
	margin-top:10px;
	margin-left:125px;
	background-color:gray;
	border-radius:30px;
	font-family: 'arial black';
	color:white;
}
.mt-15{
	margin-top:15px;
}
.h-40{
	height:40px;
}
.w-820{
	width:820px;
}
.h-1320{
	height:1320px;
}
.mt-60{
	margin-top:60px;
}
.bg-c{
	background-color:#d9d9d9;
}
.dingdan-name{
	height:40px;
}
.target-p{
	text-decoration:underline;
	font-weight:bold;
}
.p-10-20{
	padding:10px 20px;
}
.h-30{
	height:30px;
}
.w-300{
	width:300px;
}
.w-100{
	width:100px;
}
.p-20-40{
	padding:20px 40px;
}
.mt-20{
	margin-top:20px;
	margin-bottom: 0;
}
.mt-5{
	margin-top:5px;
}
th{
	text-align:left;
}
.f-n{
	font-weight: normal;
}
.w-200{
	width:200px;
}
.bb-1{
	border-bottom:1px dotted gray;
}
.fs-13{
	font-size:13px;
}
.request{
	height:100px;
	width:738px;
}
.mb-100{
	margin:100px 0;
}
.h-60{
	height:60px;
}
.submit button{
	height:60px;
	width:200px;
	border-radius:5px;
	background-color: rgb(221, 34, 17);
	color:white;
	font-size:17px;
	float:right;
	margin:100px;
	border:none;
}
.ml-60{
	margin-left:60px
}
.side-layer{
	height:300px;
	width:200px;
	float:left;
	margin:60px 0 0 30px;
	border:0.5px solid orange;
	padding:10px 20px;
	background-color:rgb(255, 238, 153);
}
.p-10{
	padding:10px;
}
.p-20{
	padding:20px;
}
textarea{
	overflow: hidden;

}
body{
	background-image:url(pictures/bg-color.png);
}
.bg-w{
	background-color: white;
}
.pl-20{
	padding-left:20px;
}
.ml-100{
	margin-left:100px;
}
.h-w-20{
	height:20px;
	width: 20px;
}
.t-c{
	text-align:center;
}
.c-r{
	color:  rgb(221, 34, 17);
}
.b-r{
	border-radius:5px;
	border:1px solid gray;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color:black;
}